.calculator {
    width: 280px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: 75vh;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f368d4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#display {
    grid-column: span 4;
    font-size: 25px;
    text-align: right;
    /* min-height: 30px; */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}

button {
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #e1e5e1;
    color: #333;
    font-weight: bold;
    transition: background-color 0.2s;
}

@media only screen and (min-width: 700px) {
    .container {
        grid-template-columns: 1fr 2fr 1fr;
        /* using 3 layout colums */
    }

    .responsive-img {
        max-width: 680px;
        display: block;
        margin: 0 auto;

    }
}

.form-group {
    margin-bottom: 8px;
    font-weight: bold;    
}

label {
    display: block;
    margin-bottom: 8px;
    color: #757575;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] { 
    width: 100%;
    padding: 12px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    border-color: #6200ea;
    outline: none;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: purple;
}